<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:marcdemure/breadcrumbs /-->

<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}},"fontSize":"xx-large"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"marcdemure/pricing-all"} /-->

<!-- wp:pattern {"slug":"marcdemure/faq"} /-->

<!-- wp:pattern {"slug":"marcdemure/booking-cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
